config SHIELD_APEX_PREDETOR
    def_bool $(shields_list_contains,apex_predetor)

config SHIELD_APEX_PREDETOR_PERIPHERAL
    def_bool $(shields_list_contains,apex_predetor_peripheral)

config SHIELD_APEX_PREDETOR_DONGLE
    def_bool $(shields_list_contains,apex_predetor_dongle)
