if SHIELD_APEX_PREDETOR_DONGLE

config ZMK_KEYBOARD_NAME
    default "ApexPredetor"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
    
endif

if SHIELD_APEX_PREDETOR_LEFT || SHIELD_APEX_PREDETOR_RIGHT || SHIELD_APEX_PREDETOR_DONGLE

config ZMK_SPLIT
    default y

endif
