config SHIELD_APEX_PREDETOR_LEFT
    def_bool $(shields_list_contains,apex_predetor_left)

config SHIELD_APEX_PREDETOR_RIGHT
    def_bool $(shields_list_contains,apex_predetor_right)

config SHIELD_APEX_PREDETOR_DONGLE
    def_bool $(shields_list_contains,apex_predetor_dongle)
